#navbarHeader {
    color: #fff!important;
    background-color: #212529!important;
}

#navbarMain {
    color: #fff!important;
    background-color: #212529!important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
